.modal {
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 32px;
    border-radius: 8px;
        
    width: 590px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  

    img {
        width: 40px;
        height: 44px;
        margin-bottom: 32px;
    }

    h1 {
        margin-bottom: 20px;
    }

    p {
        color: #83838F;
        margin-bottom: 46px;
    }

    > div {
        display: flex;
        gap: 8px;

        button {
            height: 50px;
            border-radius: 8px;
            font-weight: 500;
            background: #DBDCDD;
            color: #737380;
            padding: 0 32px;
        
            display: flex;
            justify-content: center;
            align-items: center;
        
            cursor: pointer;
            border: 0;
        
            transition: filter 0.2s;

            &:hover {
                filter: brightness(0.9);
            }

            & + button {
                background: #E73F5D;
                color: #FEFEFE;
            }
        }
    }
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(22,8,24, 0.7);
    backdrop-filter: grayscale(30%);
}